{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
    <div class="vertical">
        <div class="site-head-content inner">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
            <h1 class="blog-title">{{@blog.title}}</h1>
            <h2 class="blog-description">{{@blog.description}}</h2>
            <a class="twitter" href="https://twitter.com/Blake_Petersen"><span class="tooltip">@Blake_Petersen</span><i class="fa fa-twitter"></i></a>
            <a class="github" href="https://github.com/BlakePetersen"><span class="tooltip">Github</span><i class="fa fa-github"></i></a>
            <a class="stack-overflow" href="http://stackoverflow.com/users/2510949/blakepetersen"><span class="tooltip">Stack&nbsp;Overflow</span><i class="fa fa-stack-overflow"></i></a>
            <a class="bitbucket" href="https://bitbucket.org/BlakePetersen"> <span class="tooltip">Bitbucket</span><i class="fa fa-bitbucket"></i></a>
        </div>
    </div>
</header>

{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="&nbsp; in &nbsp; " }}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>