{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Each post has the blog logo at the top, with a link back to the home page }}
<header class="site-head">
    <a class="blog-logo" href="{{@blog.url}}">
        {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="Blog Logo" />
        {{else}}
            <span class="blog-title">{{@blog.title}}</span>
        {{/if}}
    </a>
</header>

<main class="content" role="main">

    <article class="{{post_class}}">

        {{#post}}

            <h1 class="post-title">{{{title}}}</h1>

            <section class="post-content">
                {{content}}
            </section>

        {{/post}}

    </article>

</main>
