{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}
<header class="site-head">
    <a class="blog-logo" href="{{@blog.url}}">
        {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="Blog Logo" />
        {{else}}
            <span class="blog-title">{{@blog.title}}</span>
        {{/if}}
    </a>

    <h1 class="blog-title"><span>TAG</span>{{{tag.name}}}</h1>
    <span class="post-meta"><!-- <time datetime="{{date format="MM-DD-YYYY"}}">{{date format='MMM DD, YYYY'}}</time> {{tags prefix="in " separator=" | "}}--></span>

</header>


{{! The main content area on the homepage }}
<main class="content" role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time> {{tags prefix="on "}}</span>
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-excerpt">
            <p>{{excerpt}}&hellip;</p>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>